.sources {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    z-index: unset;
    overflow: auto;
    align-items: center;
    font: 300 1em "Fira Sans", sans-serif;
    flex: 1 0 190px;
    opacity: 0.92;
    @media (max-width: 768px) {
        position: absolute;
        z-index: 2;
        background: black;
        transform: translateX(-350px);
        transition: transform 0.3s;
        &.open {
            transform: translateX(0px);
            transition: transform 0.3s;
        }
    }
}

.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    width: 190px;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    
}
